html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #FEFEFE;
  font-family: 'Playfair Display', serif;
  
}

main {
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


canvas {
  display: block;
  padding: 1em;
}

#songTitle {
    text-decoration: none;
}
