html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: white;
}

main {
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h3 {
    margin-top: 0px;
}


canvas {
  display: block;
}
